.first-step{
	height: 100% ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	background-image: linear-gradient(to top, #310455 0%, #B176F9 100%);
}

.second-step{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	background-image: linear-gradient(to top, #B176F9 0%, #310455 100%);
	overflow: auto;
}

.third-step{
	height: 100% ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	background-image: linear-gradient(to top, #310455 0%, #B176F9 100%);
}

.vr{       
    border-left:    1px solid white;
    height:         30px;
    width:          1px;       
}